# Nicht mit dem Paket ausliefern. resources/ ist bewusst NICHT ausgeschlossen:
# die Golden Events dort sind Teil des öffentlichen Formatvertrags und werden
# vom Collector als Testeingabe wiederverwendet.
/tests               export-ignore
/docker              export-ignore
/doc                 export-ignore
/.github             export-ignore
/docker-compose.yml  export-ignore
/phpunit.xml.dist    export-ignore
/phpstan.neon.dist   export-ignore
/.php-cs-fixer.dist.php export-ignore
/Makefile            export-ignore
/.gitattributes      export-ignore
/.gitignore          export-ignore
